/**
 * Created by ravi.hamsa on 10/8/16.
 */
import React, {Component, PropTypes} from "react";
import {core as starterCore, components as starterComponents} from 'react-starter-components';
import Selection from 'selection-manager';
import navigate from 'react-starter-components/lib/core/navigate'
const {dataLoader, SmartWrapper, Loader, MessageStack} = starterCore;
const {Form, TextInput, Select, FormElement} = starterComponents.Form;
const {ViewStateManager, ViewState, List, ListItem} = starterComponents.common;


export default class <%= componentName %> extends Component {
  render(){
    return <div className="<%= className %>">This is component <%= componentName %></div>
  }
}
