/**
 * Created by ravi.hamsa on 10/8/16.
 */
import React, {Component, PropTypes} from "react";

export default class <%= pageName %> extends SmartWrapper {
    render(){
        return <div className="<%= className %>">This is page <%= pageName %></div>
    }
}
